{% load static %}
<div class="bg-dark">
  <div class="container-fluid">
    <div class="container text-center">
      <div class="row align-items-center">
        <svg src="/static/icons/facebook.svg">
    </div>
    <div >
      <img src='/static/icons/youtube.png'>
      <img src='/static/icons/twitter.png'>
      <img src='/static/icons/facebook.png'>
      <img src='/static/icons/instagram.png'>
      <img src='/static/icons/github.png'>
      <img src='/static/icons/discord.png'>
      <br><br>
      <p class="text-light mb-0 text-center">made by <b>@Shashwat Gupta , @Jaydeep Sahu , @Swastik Mishra</b></p>
    </div>
  </div>
</div>
